services:
  plc-directory:
    image: ghcr.io/zicklag/did-plc-server:plc-053ddecb6a12ce0e996d300f9395899adf02dd05
    platform: linux/amd64 # no arm64 build available
    command:
      - node
      - ../dist/bin.js
    ports:
      - 3000:3000
    network_mode: host
    environment:
      NODE_ENV: dev
      DATABASE_URL: "postgres://postgres:password@localhost"
      DEBUG_MODE: 1
      LOG_ENABLED: "true"
      LOG_LEVEL: debug
      LOG_DESTINATION: 1

  plc-db:
    image: docker.io/postgres:latest
    network_mode: host
    platform: linux/amd64 # no arm64 build available for plc-directory
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - plc-db-data:/var/lib/postgresql

  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    network_mode: host
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minio:/data

volumes:
  minio:
  plc-db-data: